# print
* Operators
    * __+__ is an operator to concatenate two __strings__
    * __,__ is an operator to print everything separated by it. 逗點表示，白話來說，接下去印的意思。
* [String print formatting](https://docs.python.org/2/library/string.html)。以__print "my name is %s, age %s"%(name, 36.1234567)__為例，其表示要將後面那兩個變數或者數值的內容，放到前面兩個%s的位置，且%s是表示，要用字串來輸出。
    * %d means printing as decimal number
    * %s means printing as string
    * %f means print as floating point number
* [Escape code](https://docs.python.org/2/reference/lexical_analysis.html)
    * \t --> tab
    * \n --> new line
* print command adds a \n behind the sentence automatically.

In [4]:
# Hi! I am a comment! 
print "hellow world" 
print 'hellow world'

# print a variable
name = 'jirlong'
dname = 5
print name, name, name
# TypeError: cannot concatenate 'str' and 'int' objects

# print with formatting
print "my name is ", name 
print "my name is %s, age %s"%(name, 36.1234567)

hellow world
hellow world
jirlong jirlong jirlong
my name is  jirlong
my name is jirlong, age 36.1234567

# Variable
* Naming of variable
    * 不可用數字開始，例如 123b = 13a + 14b。當然也不可以是中文。
    * 中間不得有空白，例如 my book = 13a + 14b (why?)
    * 不可使用[reserved word](https://docs.python.org/2.5/ref/keywords.html)(why?)
* Data type
    * Data type: Variable can be
    * string: e.g., a = '12.3'
    * floating point number: e.g., b = 12.3
    * integer: e.g., c = 123
    * list: alist = []
    * dictionary: bdict = {1:2, 3:4, '5':6, '7':'8', 9:'10.11', 12:[13, 14, 15], 13:{14:'15', '16':[17, 18]}} 
    * tuple: ab = (1, 2, 3)

In [6]:
### Using reserved keywords as variables will cause syntax error
import = 5 # import is a reserved keywords
print import

SyntaxError: invalid syntax (<ipython-input-6-4574469306e3>, line 2)

### Variables

In [8]:
a = 1 # integer
b = 1.0 # floating point number
c = '1' # string
d = "1" # string
a, b, c = 1, 2, 3

### list, dictionary, and nested list and dictionary

In [9]:
e = [1] # list
f = ['1'] # list
bdict = {1:3, '1':3, 4:[2, 4]} # initialization
alist = [1, '3', 2.0, [4, 1, 3], [2, 4], bdict] # initialization

### Access list

In [11]:
# access the list
print alist
print alist[5] 
print alist[-1] # forget it!!
print len(alist)
print alist[len(alist)-1] # forget it!!
print alist[3]
print alist[3][1]
print alist[-1][4][1]

[1, '3', 2.0, [4, 1, 3], [2, 4], {'1': 3, 1: 3, 4: [2, 4]}]
{'1': 3, 1: 3, 4: [2, 4]}
{'1': 3, 1: 3, 4: [2, 4]}
6
{'1': 3, 1: 3, 4: [2, 4]}
[4, 1, 3]
1
4

### Access dictionary

In [13]:
# access the dictionary
print bdict
print bdict['1']
print bdict[1]
print bdict[4][0]

{'1': 3, 1: 3, 4: [2, 4]}
3
3
2

### Example of accessing the dictionary and list: Accessing json

In [1]:
import urllib2
import json

response = urllib2.urlopen('http://opendata.dot.taipei.gov.tw/opendata/gwjs_cityhall.json')
data = json.load(response)   
print data['retVal'][4]
site = data['retVal'][4] 
print site['sna'], site['tot'], site['sbi']
print "SITE:", site['sna'], "TOTAL:", site['tot'], "REMAIN:", site['sbi']
print "SITE: %s TOTAL: REMIAN: %s"%(site['sna'], site['tot'], site['sbi'])
# Be careful: TypeError: not all arguments converted during string formatting

{u'sip': u'10.250.3.1', u'vtyp': u'1', u'sareaen': u'Xinyi Dist.', u'sna': u'\u8208\u96c5\u570b\u4e2d', u'aren': u'', u'sno': u'0005', u'bemp': u'56', u'mday': u'20150306023129', u'nbcnt': u'0', u'sv': u'1', u'tot': u'60', u'snaen': u'Xingya Jr. High School', u'iid': u'343', u'ar': u'\u677e\u4ec1\u8def/\u677e\u4ec1\u8def95\u5df7(\u6771\u5357\u5074)', u'act': u'1', u'lat': u'25.0365638889', u'lng': u'121.5686639', u'sbi': u'4', u'sarea': u'\u4fe1\u7fa9\u5340', u'sd': u'20000101000000'}
興雅國中 60 4
SITE: 興雅國中 TOTAL: 60 REMAIN: 4

TypeError: not all arguments converted during string formatting

### Checking the type of variables

a, b, c = '2', 2, 2.0
print type(a), type(b), type(c)

d, e = [], {}
print type(d), type()

# +, -, *, **, /, %
* ** - "power of."
* *%* - "mod" e.g., 5%3==2, 4%2==0.
* */* - "divide" varied by data type of numberator and denominator

In [48]:
a, b = 5, 3
print a+1+2+3+4+5+6+7+8+9 
print a**4

50
625

In [53]:
a, b = 10, 3
print "a/b = %d ....%d"%(a/b, a%b)

print float(a)
print "a/b = %f"%(float(a)/b)
print "a/b = %f"%(a/float(b))

a/b = 3 ....1
10.0
a/b = 3.333333
a/b = 3.333333

In [57]:
# alist = [39, 24, 1, 3, 144, 2, 4, 2,3, 333, 4, 5, 6]
# for i in range(len(alist)):
#     if i%3 == 0:
#         print alist[i]

39
3
4
333
6

In [47]:
print "a/b=", a/b, "a/b=", a%b
print "a/b=%d, a%%b=%f"%(a/b, a%b)
print a/float(b)
print float(a)/b
print ((a+b)**2+(a-b)**2)/float(a**2+b**2) 
print str(a)/b
# TypeError: unsupported operand type(s) for /: 'str' and 'int'

a/b= 1 a/b= 2
a/b=1, a%b=2.000000
1.66666666667
1.66666666667
2.0

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# Example. Converting Temperature format

In [8]:
tf = 32
tc = 5.0/9.0*(tf-32)
print tc
print type(tc)
if type(tc) is float:
    print True
else:
    print False
slist = ['2015-04-01', '12:18:43', '12:19:50', 67.353, u'edu.mit.media.funf.journal']
for s in slist:
    print type(s)

0.0
<type 'float'>
True
<type 'str'>
<type 'str'>
<type 'str'>
<type 'float'>
<type 'unicode'>

In [6]:
tc = 0
tf = 9.0/5.0*tc + 32
print tf

32.0