# +-*/

In [78]:
import time
now =  time.time()
print int(now)/60%60
print int(now)%60

22
49

In [102]:
a = input("Enter a day between 2001~2013: ")
if 10000000 <= a < 100000000:
    b = True
    if not 2001<= a/10000 <= 2013:
        print "ERROR: %s YEAR (2001~2013)"%(a/10000)
        b = False
    if not 1 <= a%10000/100 <= 12:
        print "ERROR: %s MONTH (1~12)"%(a%10000/100)
        b = False
    if not 1 <= a%100 <= 31:
        print "ERROR: %s DATE (1~31)"%(a%100)
        b = False
    if b:
        print "YEAR:%s\tMONTH:%s\tDATE:%s"%(a/10000, a%10000/100, a%100)
else:
    print "ERROR: Please input a right format(XXXXXXXX)"

Enter a day between 2001~2013: 20121523
ERROR: 15 MONTH (1~12)

In [103]:
c = 1
print c == 1

True

12 --> 31
11 --> 30
10 --> 31
9 --> 30

# Variable and Data type
* Considering the following code...
* List all variables: 
* Write down all variable type in the example:
* List all reserved keywords

In [ ]:
import string
sentences = 'All men have stars, but they are not the same things for different people'
sentences = sentences.translate(None, string.punctuation)
sentences = sentences.lower()
wdict = {}
for word in sentences.split():
    if not wdict.has_key(word):
        wdict[word] = 0
    wdict[word] += 1
for f, q in sorted(((freq, word) for word, freq in wdict.items()), reverse=True):
    print f, q

# Accessing json
* 底下是一個dictionary中還有dictionary還有list的變數，看似非常複雜。
* 內容是台北市兩個抽水站的「抽驗日期、抽驗時間、抽水站名稱、經緯度、濁度、氯含量、酸度」
* 請用print列印出
    * 這兩個抽水站的名稱，
    * 第三個指標值是酸度，請把JT50這個抽水站的酸度印出來

In [4]:
data = {u'JT50': {'index': [0.06, 0.39, 7.2], 'location': [25.06639, 121.55965], 'name': u'\u677e\u5c71\u52a0\u58d3\u7ad9', 'time': [u'2015-03-04', u'01:15:00']}, u'JT54': {'index': [0.05, 0.42, 7.2], 'location': [25.14058, 121.54186], 'name': u'\u6c11\u751f\u52a0\u58d3\u7ad9', 'time': [u'2015-03-04', u'01:15:00']}}
print data

{u'JT54': {'index': [0.05, 0.42, 7.2], 'time': [u'2015-03-04', u'01:15:00'], 'location': [25.14058, 121.54186], 'name': u'\u6c11\u751f\u52a0\u58d3\u7ad9'}, u'JT50': {'index': [0.06, 0.39, 7.2], 'time': [u'2015-03-04', u'01:15:00'], 'location': [25.06639, 121.55965], 'name': u'\u677e\u5c71\u52a0\u58d3\u7ad9'}}

In [9]:
# Print the name of 'JT54'
'''print data['JT54'][____________________]'''
'''print data['JT50'][____________________]'''
print data['JT54']['name'], data['JT50']['name']
# print the ph value of JT50
'''print data[________][____________________][____________]'''
print "site %s with ph %s"%(data['JT50']['name'], data['JT50']['index'][2])

民生加壓站 松山加壓站
site 松山加壓站 with ph 7.2

# Assignment 0305
* Find one open data with json format from http://data.gov.tw/
* Using the following code to load the json and print the data directly.
* Try to discover and report the structure of the data

In [ ]:
import urllib2
import json
import time
t = time.time()
now_str = time.strftime('%y%m%d%H%M', time.localtime(t))
response = urllib2.urlopen('http://opendata.dot.taipei.gov.tw/opendata/gwjs_cityhall.json')
data = json.load(response)
print data